*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: aqua;
}
.main{
  height:200px ;
  width: 200px;
  background-color: rgb(37, 37, 224);
  margin: 10px;
}
body {
  background-color: cadetblues;
}